<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Isolate as much google setup as possible -->
        <script>
            const google = new Promise((resolve, reject) => {
                window.setupGAPI = () => {
                    delete window.setupGAPI;

                    gapi.load('auth2', () => {
                        gapi.auth2.init({
                            "client_id": "<%= client_id %>",
                            "scope": "openid"
                        });

                        resolve(gapi.auth2.getAuthInstance());
                    });
                }
            });
        </script>

        <script src="https://apis.google.com/js/platform.js?onload=setupGAPI" async defer></script>
        <script src="app.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>scyl.us</title>
    </head>
    <body>
        <canvas id="system" width="640" height="480"></canvas>
        <div id="container"></div>
    </body>
</html>
