.debugger {
	position: fixed;
	top: 10px;
	right: 10px;
}

table.disassembler {
	border: 1px solid;
	display: inline-block;
	margin: 0 4px;
	min-width: 60ex;
}

table.registers {
	border: 1px solid;
	display: inline-block;
}

table.registers td:first-child { text-align: right; }

table { background: white; }

td { padding: 0 2px; }
